<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="authentication" type="WcfWebHost.Infrastructure.Auth.AuthSettings, WcfWebHost" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
     <add key="SeatLockTime" value="15" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="smtp.gmail.com" port="587" userName="thecheapesttickets@gmail.com" password="justanypassword" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Post\" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Error.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mvc;Integrated Security = True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="~/EventService.svc" service="WcfBusinessLogic.Core.Contracts.Services.IWcfEventService, WcfBusinessLogic.Core" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
        <add relativeAddress="~/PurchaseService.svc" service="WcfBusinessLogic.Core.Contracts.Services.IWcfPurchaseService, WcfBusinessLogic.Core" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
        <add relativeAddress="~/EventAreaService.svc" service="WcfBusinessLogic.Core.Contracts.Services.IWcfEventAreaService, WcfBusinessLogic.Core" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
        <add relativeAddress="~/VenueService.svc" service="WcfBusinessLogic.Core.Contracts.Services.IWcfVenueService, WcfBusinessLogic.Core" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
        <add relativeAddress="~/LayoutService.svc" service="WcfBusinessLogic.Core.Contracts.Services.IWcfLayoutService, WcfBusinessLogic.Core" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="b5 14 f8 a7 96 c8 ba a4 e4 12 f6 c7 1f ef 8c 1d 5d 66 d2 25" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfWebHost.Infrastructure.Auth.UserValidator, WcfWebHost" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="WcfWebHost.Infrastructure.Auth.AuthPolicy, WcfWebHost" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Metadata" name="WcfBusinessLogic.Core.Services.WcfEventService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfBusinessLogic.Core.Contracts.Services.IWcfEventService" bindingConfiguration="Message_UserName" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58101/EventService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfWebHost.Services.WcfPurchaseService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfBusinessLogic.Core.Contracts.Services.IWcfPurchaseService" bindingConfiguration="Message_UserName" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58101/PurchaseService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfBusinessLogic.Core.Services.WcfEventAreaService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfBusinessLogic.Core.Contracts.Services.IWcfEventAreaService" bindingConfiguration="Message_UserName" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58101/EventAreaService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfBusinessLogic.Core.Services.WcfVenueService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfBusinessLogic.Core.Contracts.Services.IWcfVenueService" bindingConfiguration="Message_UserName" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58101/VenueService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Metadata" name="WcfBusinessLogic.Core.Services.WcfLayoutService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfBusinessLogic.Core.Contracts.Services.IWcfLayoutService" bindingConfiguration="Message_UserName" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58101/LayoutService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="Message_UserName" maxReceivedMessageSize="2147483647" receiveTimeout="24:00:00" sendTimeout="24:00:00">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.1.0" newVersion="4.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <authentication>
    <clients>
      <client name="mvc" username="mvc_username" password="mvc_password">
        <roles>
          <role name="Manager" />
        </roles>
      </client>
      <client name="wpf" username="wpf_username" password="wpf_password">
        <roles>
          <role name="Manager" />
          <role name="Admin" />
        </roles>
      </client>
    </clients>
  </authentication>
</configuration>

