body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}

.min-width1140 {
	min-width: 1140px;
}

.body-content {
	padding: 22px;
}

.title {
	text-align: center;
}


/* menu */
.menu-item {
	font-size: 19px;
	margin-top: 9px;
}

.menu-firstitem {
	font-size: 28px;
}




/* event list */
.event-list > a:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #F2F3F4;
	border-radius: 0.25rem;
}

.event-list > a {
	display: inline-block;
	width: 100%;
	height:85px;
	margin-right:1px;
}

.event-date {
	padding-right: 10px;
	padding-left: 45px;
}

.event-description {
	font-size: 16px;
	padding-left: 16px;
	height: 50px;
	line-height: 0.95;
}

.event-title {
	font-size: 20px;
	padding-left: 16px;
}

.event-venue {
	word-wrap: break-word;
	height: 45px;
	padding-left: 45px;
	line-height: 0.95;
	padding-top:7px;
}

.short-devider {
	height: 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
	width: 85%;
	margin: auto;
}



/* registration form */
.register-form {
	margin-left:190px;
}

.register-form .register-button {
	width:350px;
}

.register-form .back-button {
	width: 145px;
}

.register-form .select-timezone {
	max-width: 500px;
}

.required:after {
	content: " *";
	font-weight: bold;
	color: red;
}

.login-form {
	margin-left: 72px;
}

.login-form .login-button {
	width:320px;
}

.modal-header .title {
	margin-left:195px;
}



/* profile form */
.profile-container {
	width: 370px;
	height:45px;
	background-color: #f8f9fa;
	border-radius: 0.50rem;
}

.profile-container .menu-item {
	font-size:16px;
}



.profile-container a {
	text-decoration: none;
}

.profile-left {
	width: 320px;
	height: 45px;
	text-align:center;
	padding-top:6px;
}

.profile-right {
	width: 50px;
	height: 45px;
	border-left: 1px solid #dfe0e1;
}

.balance {
	float: right;
	padding-right: 10px;
	font-size: 14px;
	padding-top:5px;
}


.recharge-form .input-amount {
	max-width:200px;
}

.recharge-form .row-leftside {
	max-width:200px;
}


.order-button {
	width:250px;
}

.event-form {
	display: inline-block;
}

.seatTable .tr {
	height:5px;
	line-height:1px;
}


/* seat map */
.seat-seatmap {
	width: 40px;
	height: 40px;
	border: 0.5px solid;
	display: inline-block;
	margin-right: -3px;
	margin-bottom: 2px;
	text-align: center;
	padding-top: 2px;
	color: #566573;
}

a.tooltips {
    position: relative;
    display: inline;
}
a.tooltips span {
    position: absolute;
    color: #ffffff;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
cursor: default;
}


a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 25px;
    left: 50%;
    margin-left: -75px;
    z-index: 999;
}

.seat-seatmap:hover {
	background-color: #AED6F1;
}

.seat-available {
	background-color: #58D68D;
}

.seat-unavailable {
	background-color: #CD6155;
	pointer-events: none;
	cursor: default;
}

.locked-seat {
	pointer-events: none;
	cursor: default;
}

.row-counter {
	margin-right: 2px;
	text-align:center;
	height: 23px;
	width: 40px;
}

.area {
	font-size: 23px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 15px;
	padding: 5px 5px 5px 5px;
	position: relative;
	display: inline-block;

}

.scene {
	font-size:18px;
}

.border {
	border: 1px solid;
}

.title-event {
	font-size: 30px;
	color: #C0392B;
	text-align: justify;
	text-indent: 30px;
}

.description-event {
	text-align: justify;
	text-indent: 30px;
}

.img-border {
	border-radius:20px;
}
