<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.TransactSql.ScriptDom" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="testConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketManagementTest;Integrated Security = True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DacPacPath" value="E:\EPAM\EPAM.TicketManagement.Aliakseyenka\src\TicketManagementDB\TicketManagement\TicketManagement.dacpac"/>
  </appSettings>
</configuration>